<div
  id="properties"
  hx-get="/properties"
  hx-trigger="newProperty from:body"
  hx-swap="outerHTML"
  _="on htmx:afterRequest set #property-name's value to ''"
  class="p-4 border border-indigo-400 border-solid rounded"
>
  <h1>Properties 1</h1>
  <ol class="space-y-4">
    {{ range .Properties }}
      <li id="property{{ .ID }}">
        {{ template "_fragment.property.html.tmpl" . }}
      </li>
    {{ end }}
  </ol>

  <hr />
  <h1>Properties 2</h1>
  <ol class="space-y-4">
    {{ range .Properties }}
      <li id="property{{ .ID }}">
        {{ template "_fragment.property.html.tmpl" . }}
      </li>
    {{ end }}
  </ol>
</div>
