{{ template "_layout.html.tmpl" . }}
{{ define "title" }}Home{{ end }}
{{ define "content" }}
  {{ template "_fragment.property.form.html.tmpl" . }}
  {{ template "_fragment.properties.html.tmpl" . }}
{{ end }}
